#!/usr/bin/make -f

build:
	:

clean:
	dh clean

configure:
	:

install: install-stamp

install-stamp:
	dh install
	sed -i -e '1,/^$$/ {s|^$$|\nimport sys; sys.path.insert(0, "/usr/share/ydpy/")|;}' $(CURDIR)/debian/ydpy/usr/bin/*

binary-arch:
	:

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep

.PHONY: build clean binary-indep binary-arch binary install configure
